div {
	box-sizing: border-box;
}
.accordion {
	margin : 0 auto;
	width : 500px;
	height: 300px;
	border : 1px solid #ffd;
	overflow: hidden;
}
.panel{
	overflow: hidden;
    text-align: left;
    margin: 0;
    border: 0;
    cursor: pointer;
    
    
}
.panel .panel-header {
	height: 30px;
	width: 500px;
	text-align: left;
	line-height: 30px;
	padding-left: 10px;
	background-color: #ffab3f;
	border-bottom: 1px solid #dcc;
}
.panel-header.current {
	background-color: #13ccd5;
}
.panel .panel-body{
	overflow: auto;
    display: block;
    width: 500px;
    line-height: 267px;
    background-color: green;
}
.panel-body {
	position: relative;
	text-align: center;
}